<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:t) %> | Krishlabs</title>
    <a href="https://krishlabs.herokuapp.com/">Home</a>
    <a href="https://krishlabs.herokuapp.com/static_pages/about">About</a>
    <a href="https://krishlabs.herokuapp.com/static_pages/help">Help</a>
    <a href="https://krishlabs.herokuapp.com/static_pages/contact">Contact</a>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
